<h3>Create a new project:</h3>

<form action="/projects" method="post">
  <label for="name">project name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Project</button>
</form>
