<h3>Create a new Project:</h3>

<form action="/projects" method="post">
  <label for="name">Project name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Project</button>
</form>
