<h1>Your Current volunteers</h1>

<% if @volunteers.any?() %>
  <h3>Here are your projects:</h3>

  <ul>
    <% @volunteers.each() do |volunteer| %>
      <li><%= volunteer.description() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no volunteers yet!</p>

<% end %>
